<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.coverfox.base.base" />
			<class name="com.CoverFox.testCase.insuranceSelect"></class>
			<class name="com.CoverFox.testCase.ramdom1"></class>

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
